<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-12 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title">{{ page.title }}</h2>
      <p class="blog-post-meta">{{ page.date | date: "%B %e, %Y" }} by <a href="#">{{ site.author }}</a></p>
      <hr>
      {{ content }}
      <p class="blog-post-share">
          <b>Liked it? Please, share it.</b>
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via=zrusso&amp;hashtags={{ page.tags }}">
              &nbsp;Click to Tweet (you can edit before post)
          </a>
      </p>
    </div><!-- /.blog-post -->
    {% if page.previous.url || if page.next.url %}
    <hr>
    <nav>
      <ul class="pager">
        {% if page.previous.url %}
        <li><a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></li>
        {% endif %}
        {% if page.next.url %}
        <li><a href="{{page.next.url}}">{{page.next.title}} &raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div><!-- /.blog-main -->
</div><!-- /.row -->
